<%
    const defaultProp = {
        "name": config.project_name,
        "version": config.version,
        "description": config.description,
        "author": config.author,
        "main": "dist/index.js",
        "bin": {
            [config.project_name]: "./dist/index.js"
        }
    };
%>
<%- JSON.stringify({...defaultProp, ...config['package.json']}, null, 4) %>